/* BRACKET */
#bracket-wrap{height: 100vh; min-width: 1250px; position: absolute; right: -2000px; top: 0;}
.bracket-round{float: left; height: 100vh; margin-left: 10px; position: relative; width: 200px;}
.bracket-game{height: 80px; position: relative; width: 100%;}
.bracket-team{align-items: center; background: #EEE; display: flex; height: 40px; position: relative;}

.round-1{padding-top: 0px;}
.round-1 .bracket-game:first-child{position: absolute; top: calc( (100vh - 320px) / 5 * 2 + 120px );}
.round-1 .bracket-game:last-child{position: absolute; bottom: calc( (100vh - 320px) / 5 * 2 + 40px );}
.round-2{padding-top: 20px;}
.round-2 .bracket-game{margin-top: calc((100vh - 320px) /5);}
.round-3 .bracket-game{margin-top: calc((100vh - 320px) /5);}
.round-4 .bracket-game:first-child{position: absolute; top: calc( (100vh - 320px) / 5 * 1.5 + 40px );}
.round-4 .bracket-game:last-child{position: absolute; bottom: calc( (100vh - 320px) / 5 * 1.5 + 40px );}
.round-5{margin-left: -66px;}
.round-5 .bracket-game{margin-top: calc(50vh - 40px);}
/*.round-3 .bracket-game:first-child{margin-top: calc(((100vh - 240px) /5) - 40px);}*/
.round-champ{margin-left: 40px; margin-top: calc(50vh - 20px);}

.bracket-team span.bracket-seed{background: #333; color: white; display: block; font-size: 10px; height: 15px; line-height: 15px; position: absolute; top: 0; left: 0; text-align: center; width: 15px;}
.bracket-team img{height: 32px; margin: 0 8px;}
.bracket-team span.bracket-name{font-size: 13px;}
.bracket-team span.bracket-odds{background: #333; color: white; font-size: 9px; position: absolute; right: 0; height: 40px; line-height: 40px; opacity: 0.7; text-align: center; width: 30px;}
.round-champ .bracket-team span.bracket-odds{display: none;}

/* BRACKET LINE PATHS */
.bracket-game::after{position: absolute; border: 1px solid #BBB; height: 0px; width: 10px; content: ''; top: calc(50% - 1px); right: -12px;}
.round-3 .bracket-game::after{right: -110px; width: 108px;}
.round-3 .bracket-game:after(2){border: 1px solid blue; right: -110px; width: 208px;}
.round-4 .bracket-game::after{right: -44px; width: 42px;}
.round-5 .bracket-game::after{right: -42px; width: 40px;}
.round-champ .bracket-game::after{display:none;}

.round-3::before, .round-3::after, .round-4::before{position: absolute; border: 1px solid #BBB; content: ''; z-index: -1;}
.round-3::before{height: calc( (100vh - 320px) / 5 + 79px); right: -110px; top: calc(40px + (100vh - 320px) /5);}
.round-3::after{height: calc( (100vh - 320px) / 5 + 79px); right: -110px; bottom: calc(40px + (100vh - 320px) /5);}
.round-4::before{height: calc( 100vh - (2 * (100vh - 320px) / 5 * 1.5 + 80px) - 81px ); top: calc( (100vh - 320px) / 5 * 1.5 + 80px ); right: -45px;}